@model ManagerMoney.Models.Category

@{
    ViewData["Title"] = "Crear Categoria";
}

<h1>Crear categoria</h1>
<h5> La categoria nos permite indicar en que gastamos nuestro dinero, 
    también, de donde proviene nuestros ingresos </h5>
    
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="mb-3">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    
    <div class="mb-3">
        <label asp-for="OperationTypeId" class="control-label"></label>
        <select asp-for="OperationTypeId" class="form-select" asp-items="Html.GetEnumSelectList<OperationType>()"></select>
        <span asp-validation-for="OperationTypeId" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
   
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}