@{
    ViewData["title"] = "Calendario";
}
<partial name="_Submenu" model="SubMenuTransaction.Calendar"/>
<h1>Calendario</h1>

@section Scripts
{
    <script src="~/lib/Fullcalendar/main.min.js"></script>
}
