@{
    ViewData["Title"] = "404 - Página no encontrada";
}

<div class="container text-center py-5 bg-dark text-light">
    <img src="~/images/NotFound.webp" alt="Imagen pagina no encontrada" class="img-fluid mt-4" style="max-width: 300px;" />
    <h1 class="display-4 mb-4">🧠 404: Aquí no hay nada… todavía.</h1>
    <p class="lead mb-3">Puede que escribiste mal la dirección, o El recurso que solicitaste no esta disponible.</p>
    <p class="mb-4">Vuelve al <a asp-action="Index" class="link-info fw-bold">inicio</a> o sigue explorando como todo un pionero digital.</p>
</div>
