#reorder tr{
    cursor: move;
}

.total-container{
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.active{
    color: green;
}

.passive{
    color: red;
}

.asset{
    color: green;
}

.liability{
    color: red;
}